.button.action {
    width:200px;
}
.button.active {
    background-color: rgb(252, 76, 2);
}

.action.active {
    font-weight: bold;
    border-bottom: 2px solid var(--hilited)
}

.time-slider.rzslider .rz-bubble {
    color: transparent;
}

.time-slider.rzslider .rz-selection {
    background: var(--hilited);
}

.time-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: var(--hilited);
}

.time-slider.rzslider .rz-pointer:after {
    display: none;
}

.heatmap-manager-content label {
    font-size: 1em;
    font-weight: 100;
}
