<!-- Body -->
<div class="cell">

    <div ng-if="$ctrl.uploadInProgress" class="loading-mask">
        <div class="amiddle bigger white">
            <i class="fa fa-spin fa-refresh fa-circle-notch"></i>
        </div>
    </div>

    <div class="grid-x">

        <!-- Url input -->
        <div class="explore-search-input">
            <div class="catalog-search padded-left-small">
                <span class="padded-right-small"><i class="fa fa-solid fa-file"></i></span>
                <form ng-submit="$ctrl.addLayerUrl($event)">
                    <input id="add_layer_url" type="text" ng-model="$ctrl.watch.layerUrl" class="form-control form-control-small catalog__search" placeholder="{{'hint.addlayer.url' | translate}}" />
                </form>
            </div>
        </div>
        
        <!-- Hint -->
        <hint class="cell center" message="'hint.addlayer'"></hint>
                
        <!-- [EXPERIMENTAL] Projection switcher -->
        <projection-switcher ng-if="$ctrl.watch.displayProjectionSwitcher" rocket-map="$ctrl.rocketMap"></projection-switcher>
        
        <!-- Backgrounds -->
        <div class="cell">

            <div class="grid-x grid-padding-x">

                <div class="cell padded-top-small">
                    <h6 class="unmarged bold" translate-once="map.backgrounds"></h6>
                </div>

                <backgrounds-manager
                    class="cell"
                    template="circles"
                    rocket-map="$ctrl.rocketMap">
                </backgrounds-manager>

            </div>
            
        </div>

        <!-- Overlays -->
        <div class="cell padded-bottom">

            <div class="grid-x grid-padding-x">
                
                <div class="cell">
                    <h6 class="unmarged bold" translate-once="map.overlays"></h6>
                </div>

                <div class="cell" ng-class="{'bglight': $index % 2 === 0}" ng-repeat="layer in $ctrl.watch.layers.overlays | orderBy:'-' track by layer.get('_rocket').id">
                    <div class="padded-bottom-small padded-left-small">
                        <layer-manager 
                            layer="layer"
                            rocket-map="$ctrl.rocketMap"
                            template="explore">
                        </layer-manager>
                    </div>
                </div>

                <!-- Display catalogs as overlays layers -->
                <div class="cell" ng-if="$ctrl.watch.displayCatalogsInLayers" ng-repeat="layer in $ctrl.watch.layers.searches | orderBy:'-' track by layer.get('_rocket').id">
                    <div class="padded-bottom-small padded-left-small">
                        <layer-manager 
                            layer="layer"
                            rocket-map="$ctrl.rocketMap"
                            template="explore">
                        </layer-manager>
                    </div>
                </div>

            </div>

        </div>

        <!-- Overlays
        <div ng-if="$ctrl.watch.layers.overlays.length === 0" class="cell" ng-class="{'medium-6': $ctrl.watch.displayBasemapsInLayers}" style="margin-bottom: 70px;">
            <div class="amiddle">
                <h5 translate-once="overlays.none"></h5>
            </div>
        </div>
        -->
        
    </div>

</div>
